body {
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
    background-color: deepskyblue;
}

li {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
    width: 40vw;
    border: 2px solid black;
    text-align: center;
    font-size: 1.8em;
    background-color: white;
    color: black;
    padding: .3em 0em .3em 0em;
    margin-bottom: 1em;
    border-radius: 6px;
}

#lists {
    margin-bottom: 2em;
    padding: 1em;
    margin-top: 2em;
    width: 80%;
    align-items: center;
}

button {
    margin: 2em .5em 1em .5em;
    color: black;
    font-size: 1.5em;
    padding: 0.5em;
    border-radius: 5px;
}

button:hover {
    color: white;
    background-color: slategrey;
}

input {
    margin: 2em;
    color: black;
    font-size: 1.5em;
    padding: 0.5em;
    border-radius: 5px;
}